<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/image/Icons.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="home_menu">
        <div class="menu_left">
            <div class="home_absolute">
                <div class="menu_top">
                    <div>
                        <i class="fa-brands fa-squarespace"></i>
                    </div>
                    <div>
                        <p>DecSec</p>
                        <p>Security</p>
                    </div>
                    <div>

                    </div>
                </div>
                <div class="menu_center">
                    <div>
                        <nav>
                            <a href="#"><ul><i class="fa-solid fa-house"></i> Home</ul></a>
                            <a href="#"><ul><i class="fa-solid fa-tag"></i> Callings</ul></a>
                            <a href="#"><ul><i class="fa-solid fa-location-dot"></i> Location</ul></a>
                            <a href="#"><ul><i class="fa-solid fa-viruses"></i> Malware</ul></a>
                            <a href="#"><ul><i class="fa-solid fa-shield"></i> Defense</ul></a>
                            <a href="#"><ul><i class="fa-solid fa-microchip"></i> RingZero</ul></a>
                            <a href="#"><ul><i class="fa-solid fa-terminal"></i> Shell</ul></a>
                            <a href="#"><ul><i class="fa-solid fa-database"></i> Database</ul></a>
                            <a href="#"><ul><i class="fa-solid fa-masks-theater"></i> Soc engineering</ul></a>
                            <a href="#"><ul><i class="fa-brands fa-debian"></i> Debian</ul></a>
                            <a href="#"><ul><i class="fa-brands fa-ubuntu"></i> Ubuntu</ul></a>
                            <a href="#"><ul><i class="fa-brands fa-windows"></i> Windows</ul></a>
                            <a href="#"><ul><i class="fa-brands fa-android"></i> Automate</ul></a>
                        </nav>
                    </div>
                    <div class="menu_bottom">
                        <div>
                            <button><i class="fa-solid fa-power-off"></i></button>
                        </div>
                        <div>
                            <p>Copyright<br/>2024</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu_right">
            <h1>Error 500</h1>
        </div>
    </div>
</body>
</html>
